@import "./variables.scss";

.custom-button {
  position: relative;
  min-width: 130px;
  min-height: 55px;
  border-radius: 48px;
  color: $White;
  border: 0;
  letter-spacing: 1px;
  background-color: $SecondryColor;
  box-shadow: 5px 15px 40px 0 rgba(0, 201, 224, 0.2);
  cursor: pointer;
  text-transform: capitalize;
  font-size: 0.8rem;
  transition: all 0.25s ease 0s;

  &::before {
    content: "";
    height: 2px;
    width: 30px;
    border-radius: 16px;
    background-color: $White;
    position: absolute;
    margin-top: 6px;
    right: -15px;
  }

  &:hover {
    color: $SecondryColor;
    border: 1px solid $SecondryColor;
    background-color: transparent;

    &::before {
      background-color: $SecondryColor;
    }
  }

  @media only screen and(max-width: 400px) {
    font-size: 0.7rem;
  }

  @include largescreen {
    min-width: 155px;
    font-size: 0.9rem;
  }
}
