@import "./variables.scss";

.app-header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;

  .app-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    max-width: $SectionsMaxWidth;
    margin: 0 auto;

    #appLogo {
      font-size: 36px;
      color: #ffffff;
    }

    .right-navbar {
      display: flex;
      align-items: center;
      color: $White;

      .search-icon {
        margin-right: 1rem;
      }

      .custom-button {
        @media only screen and(max-width: 700px) {
          display: none;
        }
      }

      .burger-menu-icon {
        display: block;
        cursor: pointer;

        @media only screen and(min-width: 701px) {
          display: none;
        }

        &:hover {
          color: $SecondryColor;
          transition: all 0.5s ease 0s;
        }
      }
    }
  }
}
