@import "../styles/variables.scss";

@font-face {
  font-family: PlayFairBolded;
  src: url("../../public/assets/fonts/PlayfairDisplay-Bold.ttf");
}

@font-face {
  font-family: LarssitLight;
  src: url("../../public/assets/fonts/Larsseit-Light.ttf");
}

@font-face {
  font-family: LarssitBold;
  src: url("../../public/assets/fonts/Larsseit-Bold.ttf");
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 0.5rem;

    &-thumb {
      background: $SecondryColor;
    }
  }
}

h1,
h2 {
  font-family: "PlayFairBolded", sans-serif;
}

button,
li,
a {
  font-family: "LarssitBold", sans-serif !important;
}

p,
label,
h3 {
  font-family: "LarssitLight", sans-serif;
}

a {
  text-decoration: none;
}
