$PrimaryColor: #41ead4;
$SecondryColor: #00c9e0;

$LightPrimaryColor: #09f4f4;

$White: #ffffff;

$SectionsMaxWidth: 75%;

@mixin respond($breakpoint, $max-width: 400px, $max-hight: 750px) {
  @if $breakpoint==customMedia {
    @media (max-width: $max-width) and (max-height: $max-hight) {
      @content;
    }
  }

  @if $breakpoint==largeScreen {
    @media only screen and(min-width: 769px) {
      @content;
    }
  }
}
